/* shared =================================================================== */

body {
    width: 90%;
    max-width: 960px;
    padding: 1em 0;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
label, #pathHere span::before, summary {
    display: block;
    color: #666666;
    text-transform: lowercase;
}
#search_label, #path_label {
    padding: 1em;
}
#tableHere table, #moreHere table, #innerPath {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    margin-bottom: 1em;
}
#tableHere tbody tr:hover, #moreHere tbody tr:hover {
    background-color: #eef;
    cursor: pointer;
}
#tableHere th, #moreHere th, #tableHere td, #moreHere td {
    padding: 0.1em 0.5em;
}

/* tiptop =================================================================== */

span.headline {
    display: block;
    margin: 0 0 1.5em 0;
    font-size: 1.2em;
}
.headline#meta {
    color: #888888;
    display: block;
    margin: -1.5em 0 1.5em 0 ;
    font-size: 1.2em;
}

/* controls ================================================================= */

label {
    display: block;
    margin-bottom: 0px;
    text-align: left;
    text-transform: lowercase;
    /* font-variant: small-caps; */
}
#searcherform {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.7em;
}
.formgroup {
    display: inline-block;
    padding: 0 0.25em;
}
.formgroup#resultOrder {
    vertical-align: middle;
    margin-top: 1.02em;
}
.formgroup#tweakform {
    vertical-align: top;
    margin-top: 0.57em;
    flex-grow: 1;
}
#resultOrder input, #resultOrder label {
    display: inline-block;
}
#tweakform {
    position: relative;
    display: inline-block;
    width: 15em;
    text-align: right;
}
#tweakform details {
    display: block;
}
#tweakform summary {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin-top: 0em;
}
#tweakform details[open] > div {
    position: absolute;
    right: 0.25em;
    width: 15em;
    background-color: white;
    border: 1px dashed gray;
    padding: 0.5em;
    border-radius: 4px 0 4px 4px;
    z-index: 500;
    margin-top: -3px;
}
#tweakform details[open] > div h3 {
    text-align: left;
}
details summary::before {
    content: "\203A  ";
    margin-right: 0.4em
}
details[open] summary::before {
    content: "\2304  ";
    margin-top: -0.2em;
}
#tweakform details > summary {
    padding: 0.5em;
    position: relative;
    z-index: 600;
    background: white;
}

#tweakform details[open] > summary {
    border: 1px dashed gray;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

#tweakform details > summary, #tweakform details[open] > summary {
    border-bottom: 4px solid white; /* hides underlying border */
    z-index: 700;
}

#tweakform fieldset:has(input[name="varClassFilter"]) {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0 1rem;
}

#tweakform fieldset:has(input[name="varClassFilter"]) label {
  display: flex;
  align-items: center;
  gap: 0 0.3rem;
}

/* top table ================================================================ */

#loading span {
    display: block;
    margin: 2em auto;
    text-align: center;
}
.spinner {
    width: 32px;
    height: 32px;
    border: 4px solid #ccc;
    border-top: 4px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}
.truncate, .truncate table {
    width: 100%;
    table-layout: fixed
}
.truncate td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: max-content;
}
.truncate tr td:first-child {
    width: max-content;
    max-width: 100px;
}
.xScroll {
    overflow-x: scroll;
}
.xScroll table {
    table-layout: auto;
    width: max-content;
    min-width: 100%;
}
.xScroll td {
    text-overflow: unset !important;
}
.wordWrap, .wordWrap td {
    white-space: unset;
    text-overflow: unset;
}
.wordWrap, .wordWrap table {
    width: 100%;
    table-layout: auto;
}
.pinstripe table tr:nth-child(even) {
  background-color: #f1f1f1;
}

/* breadcrumb =============================================================== */

#pathHere span::before {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pathHere div#path_label {
    white-space: nowrap;
}
#pathHere div#innerPath {
    flex: 1;
    min-width: 0;
}
#pathHere.has-content {
    display: flex;
}
#pathHere {
    display: none;
    align-items: baseline;
    gap: 0.5em;
    margin-top: -1.7em;
    padding: 20px 0 0 0;
    line-height: 2.5em;
}
#pathHere b:nth-child(1) {
    display: none;
}
#pathHere span {
    display: inline;
    padding: 0.2em 0.4em;
    margin: 2em 0.1em 0 0.1em;
    position: relative;
}
#pathHere span:hover {
    filter: brightness(120%);
    cursor: pointer;
}
#pathHere span::before {
    display: none;
}
#pathHere span:nth-child(-n + 4)::before {
    display: block;
}
#pathHere span.variable {
    background-color: aquamarine;
}
#pathHere span::before {
    position: absolute;
    top: -1.75em;
    left: 0;
}
#pathHere span.variable::before {
    content: "variable";
}
#pathHere span.dataset_id {
    background-color: rgb(133, 169, 235);
}
#pathHere span.dataset_id::before {
    content: "dataset";
}

/* bottom table ============================================================= */

#moreHere.empty {
    display: none;
}
#moreHere .more_header {
    font-size: 1.5em;
    display: block;
    margin: 0 0 0.7em 0;
}
#moreHere .more_footer {
    font-size: 1em;
    font-style: italic;
    display: block;
    margin: 0.7em 0 0 0;
}
#moreHere.notempty {
    border: 1px dotted gray;
    border-radius: 2%;
    padding: 0.2em 0.5em;
}
.subheader, #moreHere .more_subheader {
    font-size: 1em;
    font-style: italic;
    display: block;
    margin: -1em 0 0.7em 0;
}
.subheader {
    margin: 0.7em 0 0.7em 0;
}

/* footer =================================================================== */

#left-foot {
    float: left;
}
#right-foot {
    float: right;
}

/* unused =================================================================== */

/* .subheader {
    font-size: 1em;
    font-style: italic;
    display: block;
    margin: 0 0 0.7em 0;
} 
.download {
    display: block;
    margin-bottom: 2.5em;
}
.download a {
    float: right;
    margin-top: -0.5em;
} */
